<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728561715309-dos0aamf6ggdhmlq11ojdoqgqf9n55mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728561715309-dos0aamf6ggdhmlq11ojdoqgqf9n55mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCqxC5gu8PDHGVc4ubQ9ym6-I_0KcpO1LU</string>
	<key>GCM_SENDER_ID</key>
	<string>728561715309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.confusians.GithubActionEmptyDemo</string>
	<key>PROJECT_ID</key>
	<string>githubactiondemo-e3a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>githubactiondemo-e3a2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728561715309:ios:f3a3222ffd652d602fd764</string>
</dict>
</plist>